body{
  background-color: Black;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.5);


}
nav .logo{
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

}
nav ul{
  list-style: none;
  color: #fff;
  float:right;
  margin: 0;
  padding: 0;
  display: flex;
  text-transform: uppercase;
}
nav ul li a{
  line-height: 80px;
  padding: 12px 30px;
  text-decoration: none;

  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
#title{
  color: #fff;
  padding-top: 150px;
  padding-left: 110px;
}
.main{
  font-family: Arial;
  font-weight: lighter;
  padding-bottom: 20px;
}
.main h2{
  font-size: 30px;
}
.main h4{
  font-size: 20px;
}
.main h1{
  font-size: 70px;
  text-transform: lowercase;
}
.main h3{
  font-size: 35px;
}
.main2{
  font-family: Arial;
  font-weight: lighter;
  margin-right: 200px;
  line-height: 30px;
}
.main h2{
  font-size: 30px;
}
#about{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: Arial;
  min-height: 100vh;
  width: 100%
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-top: 100px;
}
.container{
  width: 90%;
  color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.bg-img{
  width: 100%;
  height: 600px;
  background:url(images/bg.jpg) no-repeat center / cover;
  border-radius: 8px;
}
.right{
  width: 60%;
  min-height: 400px;
  background-color:rgba(255,255,255,.3);
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  margin-left: -80px;

}
.right h1{
  font-size: 40px;
  font-weight: lighter;

}
.right h5{
font-size: 20px;
font-weight: lighter;
}
.right p{
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
  font-weight: lighter;
}
.right a{
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}
@media only screen and (max-width:768px){
  .container{
    flex-direction: column;
  }
  .bg-img{
    width: 100%;
  }
  .right{
    width: 80%;
    margin-top: -100px;
  }

}
.info{
  color: black;
}
.statement{
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 30px;
  padding-top: 100px;
}
.table{
  display: flex;
  padding-top: 100px;
   justify-content: center;
   align-items: center;
   color: black;
    min-height: 400px;
    padding-bottom: 200px;

}
.card{
  height: 465px;
  width: 335px;
  padding: 20px 35px;
  background-color:rgba(255,255,255,.3);
  color: white;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;


}
h5{
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
  font-weight: lighter;

}
.pra{
  color: white;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;

}
.pra p{
  color: white;
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
  font-weight: lighter;
}
.pra p a{
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;

  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
  margin-top: 20px;

}
.card .button{
  color: black;
  text-decoration: none;
  border: 2px solid ;
  font-weight: bold;
  padding: 9px 22px;
   border-radius: 30px;
   transition: .4s;

}
#one{
  background-color:rgba(255,255,255,.06);
  bottom: 0px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;

}
.main-content{
  display:flex;

}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
  text-align: center;
  justify-content: center;
}
.box h2{
  font-size: 1.125em;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  color: #fff;
}


.leftbox{
  align-items: center;
  padding:10px 100px;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
}
.centerbox{
  align-items: center;
  padding:10px 100px;
  color: #fff;
  font-size:17px;
  font-weight: lighter;
  line-height: 30px;
}
.centerbox.content span{
  color: white;

}
.rightbox{
  align-items: center;
  padding:10px 100px;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
}
.icon{
  color: black;
  font-weight: 600;
}
